* {
  margin: 0;
  cursor: default;
  font-family: 'Manrope', sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  margin-bottom: 75px;
  margin-top: 50px;
  max-width: 400px;
  border-radius: 15px;
  font-size: 2em;
  color: black;
  border-bottom: solid black;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-width: 0.1em;
}

body {
  font-family: 'Manrope', sans-serif;
  background: radial-gradient(circle, rgba(42, 42, 155, 1) 0%, rgb(148, 124, 215) 100%);
  text-align: center;
  padding: 10px;
}

a {
  color: #242424;
  text-decoration: none;
}

.me {
  font-size: 1.5em;
  margin: auto;
  max-width: 900px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  color: rgb(247, 231, 231);
}

.projets {
  font-size: 150%;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  color: rgb(247, 231, 231);
}

.projets_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: rgba(125, 53, 219, 0.849);
  border-radius: 10%;
  border: none;
  box-shadow: 5px 5px 5px rgba(12, 11, 11, 0.5);
  margin: 10px;
  flex: 0 1 200px; /* <= largeur de base 200px, mais flexible */
}

button img {
  width: 100%;
  object-fit: contain;
}

footer {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-top: 20px;
}

button:hover {
  background-color: rgb(255, 255, 255, 40%);
  transform: scale(1.10);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:active {
  transform: rotate(0.5turn);
}

/* --- Responsive --- */
@media (max-width: 600px) {
  .me, .projets {
    font-size: 1.2em;
    padding: 10px;
  }

  button {
    flex: 1 1 100%; /* un bouton par ligne sur petit écran */
    max-width: 300px;
  }
}